
body{
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 30;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.hbtn{
  margin-left: 10px;
  margin-top: 20px;
  width: 160px;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background-color: rgb(5, 69, 69);
  cursor: pointer;
}
.container0{
  display: flex;
  margin-left: 460px;
  /* backdrop-filter: blur(50px); */
}

p{
  font-size: 33px;
  font-weight: bold;
  margin-left: 100px;
}

.container1{
  text-align: center;
}

img{
  margin-top: 30px;
  width: 100px;
  margin-right: 100px;
}

.container2{
  text-align: center;
}

h1{
  margin-top: 20px;
  margin-left: -40px;
}

.rbtn,.pbtn,.sbtn{
  margin-top: 30px;
  margin-right: 90px;
  width: 130px;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background-color: rgb(17, 189, 189);
  cursor: pointer;
}

.rbtn:hover,.pbtn:hover,.sbtn:hover{
  background-color: rgb(100, 215, 215);
}

.rbtn:active,.pbtn:active,.sbtn:active{
  background-color: aqua;
}

.conatiner3{
  display: flex;
  align-items: center;
  margin-left: 450px;
}

h2,h3{
  margin-top: 40px;
  font-size: 32px;
}

h2{
  margin-right: 200px;
}

label{
  font-size: 20px;
  font-weight: bold;
}

.rstbtn{
  margin-left: 590px;
  margin-top: 30px;
  width: 180px;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background-color: rgb(5, 69, 69);
  cursor: pointer;
}

.rstbtn:hover{
  background-color: rgb(4, 92, 92);
}

.rstbtn:active{
  background-color: rgb(83, 102, 102);;
}
