body{
  background-image: url("bg.jpg");
  background-size: cover;
}

.container1{
  margin-top: 100px;
  text-align: center;
}

img{
  width: 100px;
  margin-right: 135px;
}

h1{
  text-align: center;
}

.container2{
  text-align: center;
}

.rbtn,.pbtn,.sbtn{
  margin-top: 50px;
  margin-right: 130px;
  width: 130px;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background-color: rgb(17, 189, 189);

}

.container3{
  text-align: center;
}

.rstbtn{
  margin-top: 50px;
  width: 300px;
  padding: 20px;
  border-radius: 6px;
  margin-left: -120px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(52, 4, 51);
}